import(Rcpp)
import(foreach)
import(parallel)
import(Matrix)
importFrom("stats", "as.formula", "binomial", "dbeta", "glm", "model.frame",
"model.matrix", "na.omit", "na.pass", "pchisq", "dchisq", "qchisq", "var",
"pnorm", "uniroot", "integrate", "weights", "vcov")
importFrom("utils", "read.table", "write.table", "txtProgressBar",
"setTxtProgressBar")
if(tools:::.OStype() == "windows") importFrom("utils", "winProgressBar", "setWinProgressBar")
importFrom("CompQuadForm", "davies", "liu")
importFrom("SeqArray", "seqOpen", "seqGetData", "seqClose", "seqSetFilter")
importFrom("SeqVarTools", "missingGenotypeRate", "alleleFrequency", "altDosage")
importFrom("methods", "as")
importFrom("GMMAT", "glmmkin")
# useDynLib(StocSum, .registration = TRUE, .fixes = "C_")
# functions
export(glmmkin2randomvec, StocSum.stat, StocSum.svt.meta, StocSum.svt, StocSum.pval,StocSum.LDSC.glmmkin2randomvec,
       StocSum.LDSC.stat,StocSum.LDSC.ldscWinFastParrel,MAF.weights.beta.fun,StocSum.GE.glmmkin2randomvec,
       StocSum.GE.stat,fisher_pval)
